<!DOCTYPE html>
<html lang="es" >
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Gymi’s Login</title>
  <!-- Icono de la pagina web (Favicon) -->
  <link rel="shortcut icon" th:href="@{/images/icon_web.png}" href="../../static/images/icon_web.png">

  <!-- Enlazo el archivo de los estilos -->
  <link th:href="@{/css/login.css}" href="../static/css/login.css" rel="stylesheet" />

</head>
<body>
<div id="bg"></div>

<form method="post" th:action="@{/}" th:object="${usuario}">
  <p class="error" th:if="${user}">El usuario o contraseña son incorrectos.</p>
  <div class="form-field">
    <input name="usuario" id="usuario" type="text" placeholder="Usuario" th:field="*{usuario}" required/>
  </div>
  
  <div class="form-field">
    <input name="password" id="password" type="password" placeholder="Contraseña" th:field="*{password}" required/>
  </div>
  
  <div class="form-field">
    <button class="btn" type="submit">Ingresar</button>
  </div>
</form>
</body>
</html>
